<!-- <p>header works!</p> -->



<nav class="navbar bg-primary">
    <div class="container-fluid">
     <a href="view-user">
      <h1 style="color:black; "><b>USERS LIST</b></h1>
    </a>
      <form class="d-flex" role="search">
        <input class="form-control mx-5" type="search" placeholder="Search" aria-label="Search">
       
      </form>
      <form class="d-flex" role="search">
        <button class="btn btn-success btn-lg" type="submit"><a  style="color:white;" href=""> Add new user</a> </button>
      </form>
      

    </div>
  </nav>